.moduleBg-1 { background-color: #ef476f !important; border-color: #ef476f !important; color: white !important; }
.moduleBg-2 { background-color: #f5683d !important; border-color: #f5683d !important; color: white !important; }
.moduleBg-3 { background-color: #e09d00 !important; border-color: #e09d00 !important; color: white !important; }
.moduleBg-4 { background-color: #0cb35f !important; border-color: #0cb35f !important; color: white !important; }
.moduleBg-5 { background-color: #007a4b !important; border-color: #007a4b !important; color: white !important; }
.moduleBg-6 { background-color: #1082a8 !important; border-color: #1082a8 !important; color: white !important; }
.moduleBg-7 { background-color: #084c63 !important; border-color: #084c63 !important; color: white !important; }