.moduleBg-1 { background-color: #ef476fff !important; border-color: #ef476fff !important; color: white !important; }
.moduleBg-2 { background-color: #f5683dff !important; border-color: #f5683dff !important; color: white !important; }
.moduleBg-3 { background-color: #e09d00ff !important; border-color: #e09d00ff !important; color: white !important; }
.moduleBg-4 { background-color: #05c793ff !important; border-color: #05c793ff !important; color: white !important; }
.moduleBg-5 { background-color: #0b9991ff !important; border-color: #0b9991ff !important; color: white !important; }
.moduleBg-6 { background-color: #1082a8ff !important; border-color: #1082a8ff !important; color: white !important; }
.moduleBg-7 { background-color: #073b4cff !important; border-color: #073b4cff !important; color: white !important; }