.show--sm {
    display: none !important;
}
@media (max-width:576px){
    .show--sm {
        display: block !important;
    }
    .height--auto {
        height: auto !important;
        box-shadow: inset 0 10px 10px -10px #888 !important;
    }
}