.tooltip {
    position: absolute;
    display: none;
    padding: .5rem;
    border-radius: 3px;
    border: 2px solid #ccc;
    background: #f2f2ff;
    width: max-content;
    z-index: 1;
    right: 90%;
    box-shadow: 0 0 0 2px $white;
    cursor: default;
    &:after {
        content: "";
        right: -.5rem;
        width: 1rem;
        height: 1rem;
        top: 50%;
        display: block;
        position: absolute;
        border-radius: 3px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        background: #f2f2ff;
        clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
        transform: translateY(-50%) rotate(45deg);
    }
    &.show {
        display: block;
    }
}